<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>
</head>

<body>
    <div class="container">
        <main>
            <section class="col-sm-6">
                <h2>Hi! <%= pageTitle %> </h2>
                <hr />
                <ul>
                 
                        <li>First Name:
                            <%=lists.firstName%>
                        </li>
                        <li>Last Name:
                            <%=lists.lastName%>
                        </li>
                        <li>Hobby:
                            <%=lists.hobby%>
                        </li>
                        <li>Pet Name:
                            <%= lists.petName%>
                        </li>
                        
                </ul>
            </section>
            
            <aside class="col-sm-6">
                <h2>Update Profile</h2>
                <form id="form3" action="/profile" method="POST">
                    <div class="form-group">
                        <div>
                                <input class= "firstName" name='firstName' placeholder="Letter and number only" />
                        </div>
                        <div>
                                <input class= "lastName" name='lastName' placeholder="Letter and number only" />
                        </div>
                        <div>
                                <input class= "hobby" name='hobby' placeholder="Letter and number only" />
                        </div>
                        <div>
                                <input class= "petName" name='petName' placeholder="Letter and number only" />
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary" id="button3">Submit</button>
                </form>
                <form id="form4" action="/logout" method="POST">
                    <button type="submit" class="btn btn-info" id="button4">logout</button>
                </form>
            </aside>




            <hr/>

        </main>
    </div>
        <% include ../partials/scripts %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/assets/validators.js"></script>
</body>

</html>